[Unit]
Description=Sound Box Restarter

[Service]
User=root
Restart=on-failure
WorkingDirectory=/home/jejay/gpio_test
ExecStart=/home/jejay/gpio_test/.venv/bin/python /home/jejay/gpio_test/restarter_service.py

[Install]
WantedBy=multi-user.target